@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --display-font: 'Playfair Display', serif;
    --title-font: 'Libre Baskerville', serif;
    --body-font: 'Cormorant', serif;
}

html {
    font-size: 24px;
}

body {
    margin: 0 10vw;
}

header, main, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#wordmark {
    font-family: var(--display-font);
}

h2 {
    font-family: var(--title-font);
}

p {
    font-family: var(--body-font);
}